* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
/* 
.instructions {
    display: flex;
} */
h2 {
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: left;
    margin-left: 30vh;
    margin-right: 30vh;
}
