body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.page-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  z-index: -1;
}

.header {
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.header * button {
  border: 2px solid gray;
  border-radius: 5px;
  background-color:#eefdfe;
  margin-top: 15px;
}

#play-btn {
  background-color: white;
}

.header * a {
  text-align: center;
  margin: 0px 10px 0px;
  padding: 2px;
  border-radius:2px;
}

.header * button:hover {
  box-shadow: 0px 0px 5px 5px rgb(89, 152, 235);
  transform: scale(1.1);
  cursor: pointer;
}

.header * a:hover {
  box-shadow: 0px 0px 2px 2px rgb(89, 152, 235);

  transform: scale(1.1);
  cursor: pointer;
}

.buttons > button {
  margin-right: 20px;
}

#audio-btn {
  display: flex;
  align-items: center;
  padding: 8px;
}

.links {
  display: flex;
  flex-direction: row;
}

#instructions-modal {
  display: none;
  position: absolute;
  width: 50%;
}

.instructions-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
}

.instructions-page > h1 {
  font-family: 'Itim', cursive;
  color: rgb(41, 187, 255);
}

.instructions-page > h2 {
  font-family: 'Itim', cursive;
  color: rgb(41, 187, 255);
  margin-bottom: 20px;
}

.instructions-page > p {
  font-family: 'Itim', cursive;
  color: rgb(66, 180, 175);
  line-height: 2;
}

#close-modal {
  font-family: 'Itim', cursive;
  color: rgb(41, 187, 255);
  font-size: 20px;
  background-color: black;
}

#close-modal:hover {
  box-shadow: 0px 0px 10px 10px rgb(89, 152, 235);
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-height: 1000px) {
  .header * img {
    height: 50px;
  }

  .header * a {
    margin-top: 15px;
  }

  #audio-btn {
    height: 50px;
  }

  #audio-btn > img {
    height: 50px;
  }

  #mute-symbol {
    font-size: 40px;
    margin-left: 2%;
  }

  #instructions-modal {
    height: 50%;
  }

  .instructions-page {
    height: 75%;
    padding: 70px;
  }

  .instructions-page > h1 {
    font-size: 80px;
    margin-bottom: 50px;
  }

  .instructions-page > h2 {
    font-size: 60px;
  }

  #close-modal {
    margin: 30px;
  }
}

@media screen and (max-height: 999px) {
  .buttons * img {
    height: 40px;
  }

  .links * img {
    height: 35px;
  }

  .header * a {
    margin-top: 15px;
  }

  #audio-btn {
    height: 40px;
  }

  #audio-btn > img {
    height: 40px;
  }

  #mute-symbol {
    font-size: 30px;
    margin-left: 3%;
  }


  #instructions-modal {
    height: 73%;
  }

  .instructions-page {
    height: 90%;
    padding: 50px;
  }

  .instructions-page > h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .instructions-page > h2 {
    font-size: 50px;
    margin-top: 20px;
  }

  #close-modal {
    margin: 40px;
  }
}